body{
  
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.logo{
    padding: 1rem 1rem;
}
/* .header{
    display: flex;
} */
 *{
    font-family: Ubuntu, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.mid
{   
    /* display: flex; */
    background-image: url(./day_4.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    height: 750px; 
    width: 100%;
    color: white;
    font-weight: 800;
    font-size:4.5rem ;
    font-family: Ubuntu, sans-serif !important;
    position: relative;
    object-fit: contain;
}

.t1{
    position:absolute;
    top: 1rem ;
    left: 33rem;
    font-size: 5rem;
}
.t2
{
    margin: 0;
    position: absolute;
    bottom:2rem;
    left: 31rem;
    font-size: 15rem;
}
.mid-text{
    width: 100%;
    height: 513px;
    display:flex;
    justify-content:center;
    padding:30px;
    background-color: #7da2a9;

}
.st{
    justify-content: end;
    width: 50%;
    display: flex;
    padding: 2rem;

}
.nd{
    justify-content: start;
    text-align:end ;
    display: flex;
    width: 50%;
    text-align: end;
    padding: 2rem;
    margin: 81px 0 35px;
    color: white;

}
.art{
    font-size: 36px;
    font-weight: 700;
    margin: 81px 0 0;
    color: white;

}
.about{
    font-size: 29px;
    line-height: 1.2;
}
.first{
    text-align: end;
   
}
.second{
    font-family: ubantu, sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: start;
    width: 82%;
}
.part3{
    background-color: white;
    width: 100%;
    height: 983px;
    /* display: flex; */
    /* justify-content: center; */

}
.te1{
    font-size: 30px;
    margin: 20px;
}
.te2{
    font-size: 16px;
    width: 610px;
    text-align: center;
}
.row1{
    display: flex;
    padding-top: 15vh;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.row2{
    margin: 80px;
gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
}
.card{
    border: 2px solid black;
    background-color: bisque;   
    height: 300px;
    width:100%;
}
.part4{
    background-color: #18181e;
    height: 683px;
    width: 100%;
}
.img1{
    height: 500px;
    width: 560px;
    background-image: url("./day_4\(1\).jpeg");
    background-size: cover;
    background-position: 50% 50%;
}
@media (max-width: 800px) {
    .row2{
        gap: 30px;
        display: grid;
        grid-template-columns: auto auto ;
    }
}
@media (max-width: 500px) {
    .row2{
        gap: 30px;
        display: grid;
        grid-template-columns: auto;
    }
}
.row2 img{
    height: 50px;
    width: 50px;
}
.row2 h3{
    width:326px;
    height: 28px;
    font-size: 20px;
}
.row2 p{
    width:326px;
    height: 76px;
    font-size: 20px;
}